<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Site Repair Ongoing</title>
  </head>
  <body>
    <h1>Sorry, we are fixing stuff.</h1>
    <p>We will be back in {{timeToOpen}} minutes.</p>
  </body>
</html>
