<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <p>{{screamIt welcomeMessage}}</p>
    <p>We are working on the following projects: <br>
    Project 1: <a href="{{project01}}">First Project</a><br>
    Project 2: <a href="{{project02}}">Second Project</a><br>
    Project 2: <a href="{{project03}}">Third Project</a><br>
    </p>


    {{> footer}}
  </body>
</html>
